{% load staticfiles %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/logoja-icon.png" %}">
    <title>Welcome</title>
    <!-- Custom CSS -->
    <!--<link href="{% static "assets/libs/flot/css/float-chart.css" %}" rel="stylesheet">-->
    <!-- Custom CSS -->
    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
    <link href="{% static "css/button.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    
    <link href="{% static "css/datepicker/bootstrap-datepicker.css" %}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>-->
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "subtemp/heads.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">History</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div id="container" style="height: 400px; min-width: 310px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <div style="height: 50px" class="mobileindex"></div>
        <footer class="footbar">
            <div class="row">
                <div class="col-3">
                    <a href="/index/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-seedling"></i></h4>
                            <h6>Index</h6>
                        </div>
                    </a>
                </div>
                 <!-- Column -->
                <div class="col-3">
                    <a href="/control/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-thermometer-half"></i></h4>
                            <h6>None</h6>
                        </div>
                    </a>
                </div>
                <!-- Column -->
                <div class="col-3">
                    <!--<a href="history">-->
                        <div class="boxs text-center now">
                            <h4><i class="fas fa-history"></i></h4>
                            <h6>History</h6>
                        </div>
                    <!--</a>-->
                </div>
                 <!-- Column -->
                <div class="col-3">
                    <a href="/graph/">
                        <div class="boxs text-center">
                            <h4><i class="fas fa-chart-bar"></i></h4>
                            <h6>Graph</h6>
                        </div>
                    </a>
                </div>
            </div>
        </footer>
    </div>    
    {% include "subtemp/user_modals.html" %}
    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "assets/libs/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "assets/libs/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "assets/libs/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js" %}"></script>
    <script src="{% static "assets/extra-libs/sparkline/sparkline.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js" %}"></script>
    <!-- datepicker -->
    <script src="{% static "js/datepicker/bootstrap-datepicker-custom.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.th.min.js" %}" charset="UTF-8"></script>
    <!-- firebase highchart --->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyBlkrkJS2aKF8HSGtgS0sR5aw-MiVZUSGM",
            authDomain: "data-log-fb39d.firebaseapp.com",
            databaseURL: "https://data-log-fb39d.firebaseio.com",
            projectId: "data-log-fb39d",
            storageBucket: "data-log-fb39d.appspot.com",
            messagingSenderId: "946043644125"
        };
        
        firebase.initializeApp(config);
        var database = firebase.database();
    </script>
    <script src="{% static "js/historychart.js" %}"></script>
    <script>
        setSidebarActive(2)
    </script>